
body {
    background-color: #1f1e1e;
    color: #fff;
    min-width: 800px;
    
  }

header{
    border-bottom: solid rgb(88, 220, 250) 2px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #111;
     
}

.sous_titre{
  margin-left: 5px;
}


#first_div {
  color: #4fc5fc;
  margin-top:10px ;
  margin-bottom: 10px;
  position: relative;
  text-align: center;
  font-size: 28pt;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#search{

  width: 300px;

}

h1{
  margin: 0;
}

#third_div{
  position: relative;
  text-align: center;
  padding-bottom:  10px; ; ;
}
#second_div {
  text-align: center;
  font-size: 1.2em;
  margin-bottom:20px;
  min-width: 300px;
}


main {
  margin-top: 470px; 
  min-width: 800px;

}

a {
    color: #fff;
    text-decoration: none;
  }
  
 
  a:visited {
    color: #aaa;
  }
  
 
  a:hover {
    color: #fff;
  }

  #rechercher{
    color: #fff;
    background-color: #4fc5fc;
    padding: 3px;
  }

  footer{
    border-top: solid rgb(88, 220, 250) 2px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #111;
    text-align: center;
    margin: 0;
    
  }

 .img_pc{
  text-align: center;
 }
  main {
    display: flex;
    padding-top: 220em; 
    padding-bottom: 145em;
 }
  #text_acc{
    text-align: left;
    text-decoration:solid;
    font-size: 1.2em;
    margin-left: 7em;
    margin-right: 7em;
    min-width: 1000px;
  }
  
  span{
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }

  #copy{
    text-decoration: solid;
    font-size: 1.3em;
    margin: 0;
  }

  .Grand_titre{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 2.1em;
    color: #53d4ff;

  }


  .Moyen_titre{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.5em;
    color: #bfecfb;

  }

  .Petit_titre{
    margin-top: 2em;
    margin-bottom: 2em;
    font-size: 1.25em;
    color: #bfecfb;

  }
  .prix{
    text-align:end;
    color: orange;
  }

  .img_pc{
    margin-bottom: 2em;
    width: 80%;
   
  }
 .point{
   color: #1f1e1e;
 }

 
  
  
 